#header {
  display: flex;
  background-color: var(--header_clr);
  justify-content: space-between;
  align-items: center;
  color: var(--font-clr);
  padding: 0.8rem 1.5rem;

  font-weight: bold;
}

img {
  height: 5rem;
  width: auto;
}

.register-guest {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.register-guest > button {
  border-radius: 10px;
  padding: 4px 1rem;
  border: none;
  background-color: var(--btn_clr);
  font-weight: bold;
}

.register-guest p {
  text-align: center;
  margin: auto;
}

.register-guest p:hover {
  cursor: pointer;
}

.search-news {
  border-radius: 10px;
  padding: 0.3rem 1.2rem 0.3rem 0.8rem;
  border: none;
}

.logged-user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logged-user i {
  font-size: 1.5rem;
}

.logged-user i:hover {
  cursor: pointer;
}
