#latest-news {
  margin: 0.5rem 2rem 0 2rem;
  border-bottom: 4px solid var(--outline_clr);
}

#latest-news > p {
  font-weight: bold;
  font-size: 1.5rem;
  width: fit-content;
}

#latest-news h2 {
  font-weight: bold;
  margin-bottom: 1rem;
}

#latest-news > p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.latest-news-container {
  display: grid;
  gap: 1rem;
  grid-template: repeat(2, minmax(350px, 1fr)) / repeat(3, 1fr);
  justify-content: center;
}

.latest-news {
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid black;
}
