#latest-news {
  margin: 0.5rem 2rem 0 2rem;
  border-bottom: 4px solid var(--outline_clr);
}

#latest-news > p {
  font-weight: bold;
  font-size: 1.5rem;
  width: fit-content;
}

#latest-news h2 {
  font-weight: bold;
  margin-bottom: 1rem;
}

#latest-news > p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.latest-news-container {
  display: grid;
  justify-content: center;
  grid-template: repeat(2, minmax(350px, 1fr)) / repeat(3, 1fr);
  grid-template-areas:
    "latest-news-0 latest-news-2 latest-news-3"
    "latest-news-1 latest-news-2 latest-news-4";
}

.latest-news {
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid black;
}

.news-thumbnail {
  width: 100%;
  height: 60%;
  border-radius: 1rem;
}

.latest-news-0 {
  padding: 1rem;
  border-bottom: 1px solid var(--outline_clr1);
  grid-area: latest-news-0;
}

.latest-news-1 {
  padding: 1rem;
  grid-area: latest-news-1;
}

.latest-news-2 {
  padding: 1rem;
  border-left: 1px solid var(--outline_clr1);
  border-right: 1px solid var(--outline_clr1);
  grid-area: latest-news-2;
}

.latest-news-3 {
  padding: 1rem;
  grid-area: latest-news-3;
  border-bottom: 1px solid var(--outline_clr1);
}

.latest-news-4 {
  padding: 1rem;
  grid-area: latest-news-4;
}

.news-category {
  color: var(--font-clr2);
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Merriweather", var(--font_fallback);
}

.news-title {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Merriweather", var(--font_fallback);
}

.news-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: box-shadow 0.3s ease;
}

.news-card:hover {
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
