#footer {
  background-color: var(--footer_clr);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  gap: 1rem;
}

.social-link {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.social-link a {
  display: flex;
  justify-content: center;
  padding: 0.4rem;
  align-items: center;
  width: 1.9rem;

  border: 1px solid black;
  border-radius: 1rem;
}

.social-link a i {
  font-size: 1rem;
}

.info-page {
  display: flex;
  gap: 1rem;
  font-size: 0.8rem;
}

.info-page p:hover {
  text-decoration: underline;
  cursor: pointer;
}

#footer > p {
  font-weight: bold;
  font-family: "Merriweather", var(--font_fallback);
  font-size: 0.9rem;
}
