.all-news-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1rem;
}

.all-news-card {
  padding: 1rem;
  height: max-content;
  border-radius: 1rem;
}

.all-news-card > .news-title {
  font-size: 1rem;
}

.all-news-card > img {
  height: auto;
  width: 100%;
  border-radius: 1rem;
}
