#news-list {
  margin: 0.5rem 2rem 2rem 2rem;
}

.news-list-header {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  margin: 3rem 0;
}

.news-list-header h1 {
  font-weight: bold;
  padding-bottom: 1.5rem;
  font-size: 3rem;
}

.latestNews-img,
.trendingNews-img,
.recommendedNews-img {
  height: auto;
  width: 100%;
  border-radius: 1rem;
}

.news-list-header p {
  font-size: 1.3rem;
  text-align: justify;
  text-justify: auto;
}

.news-list-container-main {
  margin-top: 2.5rem;
}

.news-list-container {
  padding: 0 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, 431px);
}

.news-list-container-user {
  padding: 0 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, 400px);
  border-bottom: 1px solid var(--outline_clr1);
  padding-bottom: 1rem;
}

.user-trending-recommendations-banner {
  padding: 0 2rem;
}

.news-list-card {
  width: 400px;
  height: auto;
  padding: 1rem;
  border-radius: 12px;
  transition: box-shadow 0.3s ease; /* Adding transition to box-shadow */
}

.news-list-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* Shadow properties on hover */
}

.news-list-info {
  font-size: 1rem;
}

.news-clicks {
  text-align: end;
}

.outside-recommendations-banner {
  padding: 2rem 1rem 2rem 2rem;
}
